@model IList<BonfireWebApp.Models.Beacon>

@{
    ViewBag.Title = "Beacons";
}

<h2>Beacons</h2>
<br />
@if (Request.Params["result"] != null && Request.Params["add"] != null)
{
    if (Int32.Parse(Request.Params["result"].ToString()) == 1)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @if (Int32.Parse(Request.Params["add"].ToString()) == 1)
            {
                <p>The new beacon was saved successfully</p>
            }
            else
            {
                <p>The beacon was edited successfully.</p>
            }
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> The information could not be saved.
        </div>
    }
    <br />
}
@if (Request.Params["result"] != null && Request.Params["delete"] != null)
{
    if (Int32.Parse(Request.Params["result"].ToString()) == 1)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>Beacon deleted successfully.</p>
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> The beacon could not be deleted.
        </div>
    }
    <br />
}

<p>
    <a href="@Url.Action("Edit", "Beacons", new { uuid = "" })"><span class="glyphicon glyphicon-plus"></span>&nbsp; Add new Beacon</a>
</p>
<table id="tableBeacons" class="table table-striped table-bordered table-hover table-responsive" cellspacing="0">
    <thead>
        <tr>
            <th>UUID</th>
            <th>Descriptive Name</th>
            <th>Localization</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.uuid</td>
                <td>@item.Name</td>
                <td>@item.Localization</td>
                <td>
                    <a href="@Url.Action("Edit", "Beacons", new { id = item.uuid } )"><span class="glyphicon glyphicon-pencil"></span></a>
                    &nbsp;
                    <a href="#" class="delete-icon" data-toggle="modal" data-target=".delete-modal" data-id="@item.uuid" data-username="@item.Name">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade delete-modal" tabindex="-1" role="dialog" aria-labelledby="deleteModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete User</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this beacon?</p>
                <p><strong>Beacon's description:</strong> <span id="nameToDelete"></span></p>
                <p>This action is irreversible!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="buttonConfirmDelete">Delete</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#tableBeacons').DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            columnDefs: [
                { orderable: false, targets: 3 }
            ]
        });
    });

    $('.delete-modal').on('show.bs.modal', function (e) {
        var id = $(e.relatedTarget).attr('data-id');
        var name = $(e.relatedTarget).attr('data-username');
        $(this).find('#nameToDelete').text(name);

        $(buttonConfirmDelete).click(function () {
            window.location = '@Url.Action("Delete", "Beacons")' + '/' + id;
        });
    });
</script>
